.map-container {
  width: 100%;
  height: 100vh;
}
.gm-style {
  background-color: #3fa1a9;
  font-size: 16px;
  font-weight: 700;
}

.slider-text {
 text-align: center;
 font-size: 25px;
}

.slider-style {
  color: #5998eb;
}


